:root{
    --lgx:3rem;
    --lg:2rem;
    --md:1.8rem;
    --sm:1.4rem;
    --main-background-color:#081826;
    --secundary-background-color:#D94E4E;
    --color-paragraph:#333333;
    --color-one:#049DD9;
    --color-two:#F21D1D;
    --color-three:#674EBF;
    --color-four:#fff;
    --color-five:#C9C9C9;
    --color-six:#F2AC29;
    --color-seven:#ff0054;
    --color-eight:#23CE6B;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
a{
    color: var(--color-four);
    text-decoration: none;
    font-size: var(--md);
    display: inline-block;
    text-align: center;
    width: 300px;
}
main .infografia{
    width: 100%;
    display: grid;
    place-content: center;
}
main .autor{
    width: 330px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-seven);
    margin: 10px auto;
    color: var(--color-four);
}
main .autor img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 5px;
}
main .autor h2{
    font-size: 2rem;
}

main div{
    width: 320px;
    height: 80px;
    border-radius: 26px;
    display: grid;
    place-content: center;
    margin: 20px;
}
main .card-1 {
    background-color: var(--secundary-background-color);
}
main .card-2 {
    background-color: var(--color-three);
}

main .card-3 {
    background-color: var(--color-six);
}
main .card-4 {
    background-color: var(--color-one);
}
main .card-5 {
    background-color: var(--color-seven);
}
main .card-6{
    background-color: var(--color-eight);
}
main .card-7 {
    background-color: var(--color-six);
}
main .card-8 {
    background-color: var(--color-one);
}
main .card-9 {
    background-color: var(--color-seven);
}
main .card-10{
    background-color: var(--color-eight);
}
main .card-11 {
    background-color: var(--color-three);
}
.card-12{
    background-color: var(--color-two);
}
.card-13{
    background-color: var(--color-one);
}
