:root{
    --sm:1.4rem;
    --md:1.6rem;
    --lg:1.8rem;
    --color-one:#049DD9;
    --color-two:#F21D1D;
    --color-three:#674EBF;
    --color-four:#fff;
    --color-five:#C9C9C9;
    --color-six:#F2AC29;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main h1{
    font-size:3rem;
    font-weight: 500;
    color: var(--color-two);
    margin: 16px 16px 16px 0;
    width: 100%;
}

main .container-left .canon{
    width: 200px;
    height: 230px;
    background-color: #674EBF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-radius: 15px;
}
main .container-left .canon p:nth-child(1){
    width: 170px;
    padding: 8px;
    height: 200px;
    font-size: var(--sm);
    font-weight: 300;
    background-color: var(--color-five);
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: -20px;
}
main .container-left .canon h2:nth-child(2){
    width: 150px;
    font-size: var(--lg);
    font-weight: 500;
    color: var(--color-four);
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 4px;
}


main .container-left .canones{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}
main .container-left .canones > h2{
    font-size:var(--lg);
    font-weight: 500;
    color: var(--color-six);
    padding: 4px;
    width: 100%;
    text-align: center;
}



.container-canones .canones-styles .img-canones{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
main .container-left .canones .container-canones .canones-styles .img-canones img {
    width: inherit;
}

